__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Project data & secrets
data/
secrets/
fortigate_devices.json
*.env
*.secret
*.key
*.pem

# IDE
.vscode/
.idea/

# Docker / logs
*.log
docker-compose.override.yml

env.production